<h1>New Reply</h1>

<%= form_for @reply, url: post_comment_replies_path do |f| %>

<p>
    <%= f.label :reply %><br>
    <%= f.text_field :reply %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>